CONFIG_ARM=y
CONFIG_MX6UL=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_SBC_EC9100=y
CONFIG_TEXT_BASE=0x87800000
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_MXC_UART=y
CONFIG_FSL_USDHC=y
CONFIG_FSL_QSPI=y
CONFIG_MMC=y
CONFIG_CMD_MMC=y
CONFIG_CMD_FAT=y
CONFIG_DOS_PARTITION=y
CONFIG_IMX_CONFIG="board/embest/sbc_ec9100/imximage.cfg"
CONFIG_CMD_MEMTEST=y
CONFIG_SYS_MEMTEST_START=0x80000000
CONFIG_SYS_MEMTEST_END=0x90000000
CONFIG_SUPPORT_EMMC_BOOT=y
CONFIG_DEFAULT_DEVICE_TREE="sbc_ec9100"
CONFIG_OF_CONTROL=y
CONFIG_DM_GPIO=y
CONFIG_CMD_BOOTZ=y
