CONFIG_SYS_EXTRA_OPTIONS="BOOT_FROM_SD"
CONFIG_ARM=y
CONFIG_MX6UL=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_SBC_EC9100=y
CONFIG_MXC_UART=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_SYS_MAX_FLASH_BANKS=1
CONFIG_FSL_USDHC=y
CONFIG_FSL_QSPI=y
#CONFIG_FSL_ESDHC=y
CONFIG_MMC=y
CONFIG_GENERIC_MMC=y
CONFIG_CMD_MMC=y
CONFIG_CMD_FAT=y
CONFIG_DOS_PARTITION=y
CONFIG_SUPPORT_EMMC_BOOT=y
CONFIG_SYS_MMC_ENV_DEV=0
CONFIG_SYS_MMC_ENV_PART=0
CONFIG_TEXT_BASE=0x87800000
CONFIG_DEFAULT_DEVICE_TREE="sbc_ec9100"
CONFIG_OF_CONTROL=y
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_IMX_CONFIG="board/embest/sbc_ec9100/imximage.cfg"
CONFIG_DM=y
CONFIG_DM_THERMAL=y
CONFIG_BOOT_FROM_SD=y
CONFIG_CMD_I2C=y
CONFIG_CMD_SYS_I2C_MXC=y
CONFIG_SYS_I2C_MXC_I2C1=y
CONFIG_SYS_I2C_MXC_I2C2=y
CONFIG_SYS_I2C_SPEED=100000
CONFIG_DM_I2C=y
CONFIG_POWER_I2C=y
CONFIG_POWER_PFUZE3000=y
CONFIG_BOARD_LATE_INIT=y
CONFIG_MXC_GPIO=y
CONFIG_MCX_OCOTP=y
CONFIG_CMD_MEMTEST=y
CONFIG_SYS_MEMTEST_START=0x80000000
CONFIG_SYS_MEMTEST_END=0x90000000
CONFIG_SYS_NO_FLASH=y
