if TARGET_SBC_EC9100

config SYS_BOARD
	default "sbc_ec9100"

config SYS_VENDOR
	default "embest"

config SYS_CONFIG_NAME
	default "sbc_ec9100"

config SYS_CPU
	default "armv7"

config SYS_SOC
	default "mx6"

config EC9100_BOOT_FROM_EMMC
	depends on TARGET_SBC_EC9100
	bool "Boot from eMMC"
	help
		Select to boot from the on-board eMMC.  If this
		is n, boots from the SD card.

endif
